<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/7.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">
    <div class="carousel-caption">
      <h3>Eva Mag kleertjes aan</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/1.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">
    <div class="carousel-caption">
      <h3>Eva, één uur oud</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/2.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">
    <div class="carousel-caption">
      <h3>Suus en Eva</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/3.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">
    <div class="carousel-caption">
      <h3>Pieter en Eva</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/4.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">
    <div class="carousel-caption">
      <h3>Eva, 12 uur oud</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/5.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">
    <div class="carousel-caption">
      <h3>Eva, op de neonatologie</h3>
    </div>
  </ng-template>
  <!--<ng-template ngbSlide>-->
    <!--<img src="assets/5.jpg" class="d-block img-fluid" style="display: flex; width: 100%; height: 100%">-->
    <!--<div class="carousel-caption">-->
      <!--<h3>Het spel en de uitbreiding</h3>-->
    <!--</div>-->
  <!--</ng-template>-->
</ngb-carousel>
