<h3>Eva</h3>
<pre>
  <b>
  We zouden willen zeggen wat jij voor ons bent
  Maar hoe omschrijf je iemand die je nog niet kent?
  Langverwacht, gewild, gewenst, een wonder
  Dat is niet genoeg.
  Voor ons ben jij

  Onbeschrijfelijk bijzonder
  </b>
</pre>

<h3>Inleiding</h3>
<p>Helemaal tegen onze hoop en onze verwachting in, gaat het niet helemaal goed met onze dochter Eva. Hieronder vindt je
onze dagboekverslagen van de dagen in het ziekenhuis. We proberen dit een beetje up-to-date te houden. We voegen ook
  regelmatig foto's toe.</p>

<h4>4-7-2017 Dinsdag</h4>
<p>Vandaag een rustigere dag. We mogen voor het eerst Eva in bad stoppen. Wij vinden het Heerlijk, Eva iets minder ;).
  Ze wordt ook nog even nagelopen door de arts en ondanks de ontsteking gaat het verder goed. Morgen wordt er weer bloed
  geprikt en komen er uitslagen binnen dus het is nog even rustig vandaag.
</p><p>
  Suus is ondertussen streng toegesproken door de fysiotherapeut dat ze niet teveel mag doen. Minder zitten en staan
  en meer liggen. De voedingen gaan steeds beter. Eva drinkt nu bijna een volledige voeding bij Suus (die wel een beetje
  last krijgt van stuwing.
</p>
<h4>3-7-2017 dag maandag</h4>
<p>‘s-ochtends komt de kinderarts met opnieuw slecht nieuws. De ontstekingswaardes in Eva’s bloed zijn opnieuw gestegen,
  dit zou er op kunnen wijzen dat we te maken hebben met een hersenvliesontsteking. Om daar goed achter te komen moet er
  een lumbaalpunctie worden uitgevoerd. Dit is lastig omdat de kans bestaat dat Eva dezelfde stollingsstoornis heeft als
  Suus. Die mocht juist geen verdoving via de ruggenmerg ivm bloedingsgevaar.
  Er wordt overlegd met de creveldkliniek waar Suus’ bloed is beoordeeld en de kinderhematoloog. Besloten word om Eva
  eerst een flinke dosis bloedplaatjes te geven en dan toch de punctie uit te voeren.
  Pieter gaat naar het gemeentehuis om aangifte te doen van de geboorte en Philip komt om Suus gezelschap te houden. Als
  Pieter terug komt zijn ze bij Eva. Ze krijgt een voeding terwijl de bloedplaatjes inlopen en daarna gaat ze naar een
  behandeltafel. Daar zijn de arts in opleiding en de kinderarts om de punctie uit te voeren. Dit gaat niet goed. Ze
  prikken goed maar er komt geen vocht uit de naald. Nog een poging door de kinderarts lukt ook niet. Eva houdt zich
  heel goed en is goed te kalmeren. De Neonatoloog wordt geraadpleegd en die wil het toch ook nog een keer zelf
  proberen. Twee keer prikken en ook hierbij lukt het niet.
  Het voelt verschrikkelijk vier keer prikken en nog geen resultaat en uitsluitsel.
  De opties zijn nu:
  - Ze heeft een hersenvliesontsteking
  - Ze heeft geen hersenvliesontsteking maar een andere ontsteking.

  Het besluit wordt genomen om een hersenvliesontsteking te behandelen. Als er kweekje van het bloed zijn is er meer
  duidelijkheid, maar dat laat op zich wachten, behandeling moet wel nu.</p>
<h4>2/3-7-2017 nacht maandag</h4>
<p>Het is hard nodig dat Suus een paar uur ongestoord goed slaapt. Ze doet nog een voeding om half tien, kolft en gaat
  dan slapen. Pieter geeft om half een en half vier voeding met flesje terwijl Suus slaapt en om half zeven gaat Suus
  weer voeden en mag piter slapen.</p>
<h4>2-7-2017 zondag</h4>
<p>Als pieter terugkomt wordt er weer bloed afgenomen bij Eva. De arts wil toch even controleren of er niet meer aan de
  hand is dan alleen haar hoofd. Wij bereiden ons voor op naar huis gaan. De maxicosi uit de auto. Tas inpakken.
  Dan komt de kinderarts terug, Eva’s bloed laat duidelijk zien dat ze een ontsteking heeft. Hoewel ze zich Verder
  voorbeeldig gedraagt is dit genoeg reden om haar direct te verplaatsen naar de afdeling dan neonatologie om haar een
  antibioticakuur te geven. Een harde klap voor ons, wij wilden zo graag met z'n drieën naar huis. Pieter gaat met Eva
  mee naar neonatologie en later wordt ook Suus met bed en al gehaald. Bij Eva wordt in haar hand een infuus
  aangebracht, Pieter mag haar troosten maar ze geeft geen kik. Daarna moeten we haar achterlaten.
  De rest van de dag wordt Suus met bed of in de rolstoel naar neonatologie gereden om een voeding te geven. Ze geeft
  wat eva wil drinken en om genoeg binnen te krijgen vult Pieter dat aan met een flesje. Ondertussen kolft Suus zodat de
  productie goed op gang komt en dat de volgende keer weer aan eva kan worden gegeven.
  Eva slaapt bijna continu ze hadden het duidelijk nodig.</p>
<h4>1/2-7-2017 nacht zondag</h4>
<p>De hele nacht is Eva onrustig en geprikkeld, ze blijft eigenlijk alleen rustig bij Suus. Ze slapen daardoor eigenlijk
  de hele nacht niet. Eva is naast pijnlijk ook een beetje koortsig. Verhoogde temperatuur en klam.</p>
<h4>1-7-2017 dag zaterdag</h4>
<p>Na nog een voeding is Eva toch een beetje geprikkeld, ze huilt makkelijk (maar is ook goed te troosten). Daarom
  krijgt ze ook paracetamol omdat er gedacht wordt dat de pijn van de bloeduitstorting van de vacuümpomp komt. Overdag
  komen de grootouders ons kleine meisje bewonderen en mag Pieter de eerste keer een luier verschonen. Suus blijft
  borstvoeding geven en dat lijkt goed te gaan. Verder heeft Suus het lichamelijk zwaar en pijnlijk en kan eigenlijk het
  bed niet uit.
  De kinderarts komt langs en wil wat controles doen, maar omdat Eva pijn lijkt te hebben stelt ze Die nog even uit.
  Morgen komt ze terug en dan doet ze de controles voor we naar huis gaan.
  Pieter gaat deze nacht thuis slapen om uitgerust te zijn als we morgen naar huis gaan.</p>
<h4>1-7-2017 nacht zaterdag</h4>
<p>Eva mag een tijd bij Suus liggen en een beetje proberen te drinken aan de borst. Daarna wordt ze gewogen (4060 gram)
  en gemeten (54cm). Daarna mag ze een tijdje met pieter kroegen terwijl suus wordt verzorgt en verschoond.
  Daarna gaat Eva in haar wiegje en Suus in een bed en verhuizen we naar de kraamafdeling. Daar doet suus nog een
  voeding en mag pieter nog even knuffelen en gaan we een beetje proberen te slapen. Na maar heel korte tijd is het
  alweer tijd om te voeden en is het al bijna ochtend.</p>
<h4>30-06-2017. Vrijdag</h4>
<p>Om 04:00 wordt Suus wakker van een gevoel waarvan ze denkt dat het weeën zijn. Ze zijn nog onregelmatig en niet
  sterk, maar wel duidelijk een begin. Pieter gaat nog naar zijn werk, maar na 3 uur naar huis omdat suus met het
  ziekenhuis heeft gebeld en we mogen komen.
  Gedurende de middag en avond worden de weeën sterker, maar ontsluiting schiet niet echt op. Begin middag worden daarom
  Suus’ vliezen gebroken. Ontsluiting gaat nu beter, maar nog steeds niet geweldig, daarom krijgt ze aan het begin van
  de avond weeeënopwekkers. Nu gaat het sneller, steeds heftiger en pijnlijker weeën, met 8cm ontsluiting begint ze ook
  al flink persdrang te krijgen omdat Eva een beetje gedraaid ligt. Ze wil graag pijnstilling en terwijl de remifentanil
  wordt gebracht worden de weeën steeds heftiger. Als de pomp eenmaal is aangesloten en werkt mag ze eigenlijk toch al
  gaan persen. Eva ligt behoorlijk dwars en Suus wordt behoorlijk moe na meer dan een uur persen. Ze wordt daarom
  geholpen met een vacuümpomp en vlak voor 12 uur komt Eva naar buiten.</p>
