<ngb-tabset activeId="info" type="tabs">
  <ngb-tab id="info" ngb-active>
    <ng-template ngbTabTitle>
      Eva is geboren
    </ng-template>
    <ng-template ngbTabContent>
      <app-info></app-info>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="photo">
    <ng-template ngbTabTitle>
      Foto's
    </ng-template>
    <ng-template ngbTabContent>
      <app-photo></app-photo>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="video">
    <ng-template ngbTabTitle>
      Video
    </ng-template>
    <ng-template ngbTabContent>
      <div class="container">
        <iframe src="//www.youtube.com/embed/VMIISmR-Yck"
                frameborder="0" allowfullscreen class="video"></iframe>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="contact">
    <ng-template ngbTabTitle>
      Contact
    </ng-template>
    <ng-template ngbTabContent>
      <p>
        Pieter en Suzanne Schutz<br>
        Zonzijde 37<br>
        3454 TD De Meern
      </p>
      <p>
        Pieter - 0625542819
      </p>
      <p>
        Suzanne - 0640712821
      </p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
